
<!DOCTYPE>

<html>

  <head>
    <title>SEAMM flowchart view</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <script src="{{ url_for('static', filename='cytoscape.min.js') }}"></script>
    <!-- for testing with local version of cytoscape.js -->
    <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <script>
      {{ flowchart_script|safe }}
    </script>
  </head>

  <body>

    <h1>flowchart.flow</h1>

    <div id="toolbar">
      <a href="{{ url_for('home') }}"><button id="home" class="customButtons"> Home </button></a>
      <a href="{{ url_for('upload_file') }}"><button id="upload" class="customButtons"> Upload another flowchart</button></a>
   </div>

    <div id="cy"></div>

  </body>

</html>
